<fieldset>
  <legend>Section</legend>
  <a class="ui primary button" href="<%= occurrences_path(@project, section: @section) %>">Count</a>
  <button class="ui primary button" href="/count">Reports</button>
  <dl>
    <dt>Name</dt>
    <dd><h2><%= @section.name %></h2></dd>
  </dl>
  <h3>Samples</h3>
  <table class="ui striped celled table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Description</th>
        <th>Weight</th>
      </tr>
    </thead>
    <tbody>
      <% @section.samples.sort_by(&:rank).each do |sample| %>
        <tr>
          <td>
            <%= sample.name %>
          </td>
          <td>
            <%= sample.description %>
          </td>
          <td>
            <%= sample.weight %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</fieldset>
