<div class="ui fluid card">
  <div class="content">
    <div class="header">
      <div class="ui ribbon label">section</div>
      <h2 class="ui header">
        <%= @section.name %>
      </h2>
      <div class="ui fluid horizontal menu">
        <a class="item" href="<%= occurrences_path(@project, section: @section) %>">Occurrences</a>
        <a class="item" href="<%= reports_path(@project, section: @section) %>">Report</a>
        <div class="ui right mini secondary menu">
          <div class="item">
            <button class="ui secondary button edit-section action">Edit Section</button>
          </div>
        </div>
      </div>
    </div>
    <div class="ui description grid">
    </div>

    <h3>Samples</h3>
    <table class="ui striped celled table section-samples">
      <thead>
        <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Weight</th>
          <th class="one wide"></th>
        </tr>
      </thead>
      <tbody>
        <% @section.samples.sort_by(&:rank).each do |sample| %>
          <tr>
            <td>
              <%= sample.name %>
            </td>
            <td>
              <%= sample.description %>
            </td>
            <td>
              <%= sample.weight ? Kernel.format('%.2f', sample.weight) : '' %>
            </td>
            <td>
              <button class="ui mini secondary button edit-sample action">Edit</button>
            </td>
          </tr>
        <% end %>
      </tbody>
      <tfoot class="full-width">
        <tr>
          <th colspan="4">
            <button class="ui fluid icon mini secondary button add-sample action"><i class="add icon"></i></button>
          </th>
        </tr>
      </tfoot>
    </table>
  </div>
</div>
<script type="text/javascript">
$(function() {
  const section = {
    id: <%= @section.id %>,
    project_id: <%= @section.project_id %>,
    name: "<%= @section.name %>",
  }
  const sample = {
    section_id: <%= @section.id %>,
    name: null,
    weight: null,
  }
  $('.edit-section.action').click(() => {
    new SectionModalFormView(section, (section) => window.location.reload()).show()
  });
  $('.add-sample.action').click(() => {
    new SampleModalFormView(sample, (sample) => window.location.reload()).show()
  });
});
</script>
