<div class="ui grid">
  <div class="sixteen wide column">
    <div class="ui fluid card">
      <div class="content">
        <div class="header">
          <div class="ui ribbon label">project</div>
          <h1 class="ui header">
            <a href="<%= project_path(@project) %>"><%= @project.name %></a>
          </h1>
        </div>
        <div class="description">
          <div class="ui menu">
            <a class="item" href="<%= project_species_path(@project) %>">Species</a>
            <a class="item" href="<%= occurrences_path(@project) %>">Occurrences</a>
            <a class="item" href="<%= reports_path(@project) %>">Reports</a>
            <div class="ui right secondary menu">
              <div class="item">
                <button class="ui button edit-project-action">Edit</button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ui modal" id="project-form-window">
      <div class="header">Edit Project</div>
      <div class="content">
        <%= erb :'_validation_messages.html', layout: false %>
        <form class="ui form" id="project-form">
          <div class="field">
            <input id="project-id" type="hidden" value="<%= @project.id %>" />
            <label for="project-name">Name</label>
            <input id="project-name" type="text" name="name" value="<%= @project.name %>" />
          </div>
        </form>
      </div>
      <div class="actions">
        <button class="ui cancel negative button">Cancel</button>
        <button class="ui approve positive button">Save</button>
      </div>
    </div>
  </div>
  <div class="three wide column">
    <div class="ui cards">
      <div class="ui fluid card">
        <div class="content">
          <div class="header">Researchers</div>
          <div class="description">
            <ul>
            <% @project.research_participations.each do |participation| %>
              <li><%= participation.user.name %>
            <% end %>
            </ul>
          </div>
        </div>
        <button class="ui mini bottom attached button disabled add-researcher-action"><i class="add icon"></i>Add</button>
      </div>

      <div class="ui fluid card">
        <div class="content">
          <div class="header">Countings</div>
          <div class="description">
            <ul>
            <% @project.countings.each do |counting| %>
              <li><a href="<%= counting_path(@project, counting) %>"><%= counting.name %></a></li>
            <% end %>
            </ul>
          </div>
        </div>
        <button class="ui mini bottom attached button disabled add-counting-action"><i class="add icon"></i>Add</button>
      </div>

      <div class="ui fluid card">
        <div class="content">
          <div class="header">Sections</div>
          <div class="description">
            <ul>
            <% @project.sections.each do |section| %>
              <li><a href="<%= section_path(@project, section) %>"><%= section.name %></a></li>
            <% end %>
            </ul>
          </div>
        </div>
        <button class="ui mini bottom attached button add-section-action"><i class="add icon"></i>Add</button>
      </div>
    </div>
  </div>
  <div class="thirteen wide column">
    <%= yield %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.edit-project-action').click(() => {
    new EditModalFormView('project', new ProjectRequest, (project) => window.location.reload()).show()
  });
});
</script>
