<div class="ui grid">
  <div class="sixteen wide column">
    <fieldset>
      <legend>Project</legend>
      <h1 class="ui header"><a href="<%= project_path(@project) %>"><%= @project.name %></a></h1>
      <div class="ui text menu">
        <a class="item" href="<%= project_species_path(@project) %>">Species</a>
        <a class="item" href="<%= occurrences_path(@project) %>">Count</a>
        <a class="item" href="<%= reports_path(@project) %>">Reports</a>
        <div class="ui right secondary mini menu">
          <div class="item">
            <button class="ui basic button edit-project-action">Rename</button>
          </div>
        </div>
      </div>
    </fieldset>
    <div class="ui modal" id="project-form-window">
      <div class="header">Edit Project</div>
      <div class="content">
        <%= erb :'_validation_messages.html', layout: false %>
        <form class="ui form" id="project-form">
          <div class="field">
            <input id="project-id" type="hidden" value="<%= @project.id %>" />
            <label for="project-name">Name</label>
            <input id="project-name" type="text" name="name" value="<%= @project.name %>" />
          </div>
        </form>
      </div>
      <div class="actions">
        <button class="ui cancel negative button">Cancel</button>
        <button class="ui approve positive button">Save</button>
      </div>
    </div>
  </div>
  <div class="three wide column">
    <fieldset>
      <legend>Details</legend>
      <h2 class="ui header">Researchers</h2>
      <p>
        <ul>
        <% @project.research_participations.each do |participation| %>
          <li><%= participation.user.name %>
        <% end %>
        </ul>
      </p>

      <h2 class="ui header">Countings</h2>
      <p>
        <ul>
        <% @project.countings.each do |counting| %>
          <li><a href="<%= counting_path(@project, counting) %>"><%= counting.name %></a></li>
        <% end %>
        </ul>
      </p>

      <h2 class="ui header">Sections</h2>
      <p>
        <ul>
        <% @project.sections.each do |section| %>
          <li><a href="<%= section_path(@project, section) %>"><%= section.name %></a></li>
        <% end %>
        </ul>
      </p>
    </fieldset>
  </div>
  <div class="thirteen wide column">
    <%= yield %>
  </div>
</div>

<script type="text/javascript">
$(function() {
  $('.edit-project-action').click(() => {
    var validationMessageView = new ValidationMessageView('project');
    validationMessageView.hide();
    $('#project-form').trigger('reset');
    $('#project-form-window').modal({
      closable: false,
      onApprove: function() {
        const id = $('#project-form #project-id').val();
        const attrs = {
          name: $('#project-form #project-name').val(),
        }
        var service = new ProjectRequest
        service.update(id, attrs).then(
          project => {
            window.location.reload();
          },
          errors => {
            validationMessageView.show(errors)
          }
        )
        return false;
      }
    })
    .modal('show');
  });
});
</script>
