<div class="ui grid">
  <div class="two wide column">
  </div>
  <div class="fourteen wide column">
    <fieldset>
      <legend>Species</legend>
      <h1><%= @species.name %></h1>
    </fieldset>
  </div>

  <div class="two wide column">
    <fieldset>
      <legend>Details</legend>
        <% unless @species.verified %>
          <div class="ui red label">UNVERIFIED</div>
        <% end %>
        <h2>Group</h2>
        <p><%= @species.group.name %></p>
        <h2>Features</h2>
        <p>
          <dl>
          <% @species.choices.each do |choice| %>
            <dt><%= choice.field.name %></dt>
            <dd><%= choice.name %></dd>
          <% end %>
         </dl>
       </p>
    </fieldset>
  </div>

  <div class="fourteen wide column">
    <%= yield %>
  </div>
</div>
