<section class="section">
  <div class="panel">
    <div class="panel-heading">
      <span class="tag">project</span>
      <h1 class="title">
        <a href="<%= project_path(@project) %>"><%= @project.name %></a>
      </h1>
    </div>
    <nav class="navbar">
      <div class="navbar-menu">
        <a class="navbar-item" href="<%= project_path(@project) %>">Home</a>
        <a class="navbar-item" href="<%= project_species_path(@project) %>">Species</a>
        <a class="navbar-item" href="<%= reports_path(@project) %>">Reports</a>
      </div>
      <div class="navbar-end">
        <div class="navbar-item">
          <button class="button is-small is-black edit-project action">Edit Project</button>
        </div>
      </div>
    </nav>
  </div>
</section>

<script type="module">
import { ProjectModalFormView } from '/js/modal_form_views.js'

document.addEventListener('DOMContentLoaded', () => {
  const project = {
    id: <%= @project.id %>,
    name: "<%= @project.name %>",
  }

  document.querySelector('.edit-project.action').addEventListener('click', () => {
    new ProjectModalFormView(project, (project) => window.location.reload()).show();
  });
});
</script>
