<div class="ui cards">
  <div class="ui fluid card">
    <div class="content">
      <div class="header">Researchers</div>
      <div class="description">
        <ul>
        <% @project.researchers.each do |researcher| %>
          <li><%= researcher.user.name %>
        <% end %>
        </ul>
      </div>
    </div>
    <button class="ui mini secondary bottom attached button disabled add-researcher.action"><i class="add icon"></i>Add</button>
  </div>

  <div class="ui fluid card">
    <div class="content project-countings">
      <div class="header">Countings</div>
      <div class="description">
        <ul>
        <% @project.countings.each do |counting| %>
          <li><a href="<%= counting_path(@project, counting) %>"><%= counting.name %></a></li>
        <% end %>
        </ul>
      </div>
    </div>
    <button class="ui mini secondary bottom attached button add-counting action"><i class="add icon"></i>Add</button>
  </div>

  <div class="ui fluid card">
    <div class="content project-sections">
      <div class="header">Sections</div>
      <div class="description">
        <ul>
        <% @project.sections.each do |section| %>
          <li><a href="<%= section_path(@project, section) %>"><%= section.name %></a></li>
        <% end %>
        </ul>
      </div>
    </div>
    <button class="ui mini secondary bottom attached button add-section action"><i class="add icon"></i>Add</button>
  </div>
</div>

<script type="module">
  import { ProjectModalFormView } from '/js/modal_form_views.js'

  $(function() {
    const section = {
      project_id: <%= @project.id %>,
      name: null,
    }

    const counting = {
      project_id: <%= @project.id %>,
      name: null,
    }

    $('.add-section.action').click(() => {
      new SectionModalFormView(section, (section) => window.location.reload()).show()
    })

    $('.add-counting.action').click(() => {
      new CountingModalFormView(counting, (counting) => window.location.reload()).show()
    })
  });
</script>
