<section class="section">
  <div class="columns">
    <div class="column is-one-quarter">
      <div class="panel">
        <div class="panel-heading">Find project
        </div>
        <div class="panel-block">
          <form id="species-search" class="form">
            <div class="field">
              <label for="search_name">Name</label>
              <input id="search_name" type="text" name="name" value="<%= @filters[:name] %>"/>
            </div>
            <button class="button" type="submit">Search</button>
          </form>
        </div>
      </div>
    </div>

    <div class="column">
      <div class="panel">
        <div class="panel-heading">
          <h1 class="title">Projects (<%= @projects.size %>)</h1>
        </div>
        <nav class="navbar">
          <div class="navbar-menu">
          </div>
          <div class="navbar-end">
            <div class="navbar-item">
              <button class="button is-small is-black add-project action">Add</button>
            </div>
          </div>
        </nav>
        <div class="panel-block">
          <table class="table is-striped is-fullwidth">
          <thead>
            <tr>
              <th>Project name</th>
              <th>Date created</th>
            </tr>
          </thead>
          <tbody>
            <% @projects.each do |project| %>
              <tr>
                <td><a href="<%= project_path(project) %>"><%= project.name %></a></td>
                <td><%= project.created_at&.to_date %></td>
              </tr>
            <% end %>
          </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</section>

<script type="module">
  import { ProjectModalFormView } from '/js/modal_form_views.js'

  $(function() {
    const project = {
      name: null,
    }

    $('.add-project.action').click(() => {
      new ProjectModalFormView(project, (project) => window.location.reload()).show()
    });
  });
</script>
