<div class="columns">
  <div class="column is-four-fifths" %>
    <%= erb :'countings/_occurrences.html', layout: false %>
  </div>

  <div class="column">
    <%= erb :'countings/_sections_and_samples.html', layout: false %>
  </div>
</div>

<script type="module">
  import { OccurrenceRequest, SectionRequest } from '/js/requests.js';
  import { OccurrencesComponent } from '/js/occurrences_component.js';
  import { DomHelpers } from '/js/dom_helpers.js';

  $(function() {
    const projectId = <%= @project.id %>;
    const countingId = <%= @counting.id %>;
    let sectionId = null;
    let sampleId = null;
    <% if @section %>
      sectionId = <%= @section.id %>;
    <% end %>
    <% if @sample %>
      sampleId = <%= @sample.id %>;
    <% end %>
    const countingGroupId = <%= @counting.group_id.to_json %>;
    var speciesSearch = null;

    const occurrencesComponent = new OccurrencesComponent(
      projectId,
      '#occurrences-collection',
      '#occurrences-summary'
    );

    if (sectionId && sampleId) {
      occurrencesComponent.show();
      occurrencesComponent.loadOccurrences(countingId, sectionId, sampleId);
    }

    const addOccurrence = function(speciesId, countingId, sampleId) {
      const attrs = {
        species_id: speciesId,
        counting_id: countingId,
        sample_id: sampleId,
      };
      new OccurrenceRequest(projectId).save(attrs).then(
        result => {
          const modal = document.querySelector('.modal.add-occurrence');
          modal.classList.remove('is-active');
          // TODO: add it to the displayed collection instead of reloading
          window.location.reload();
        },
        errors => {
          alert('Please refresh the page and try again.')
        }
      )
    }

    const showSearchResult = function(result) {
      $('#species-list tbody').empty();
      $('#search-species-size').text(result.result.length);
      var that = this;
      result.result.forEach(species => {
        var element = $($('#search-species-template').html());
        element.find('.species-name').text(species.name);
        element.find('.species-group-name').text(species.group_name);
        element.find('.select-species-action').click(function(event) {
          addOccurrence(species.id, countingId, sampleId)
        });
        $('#species-list tbody').append(element);
      });
    }

    $('.button.add-occurrence').click(function() {
      const modal = document.querySelector('.modal.add-occurrence');
      modal.querySelector('.button.cancel').addEventListener('click', () => {
        modal.classList.remove('is-active');
      })
      modal.classList.add('is-active');
      // TODO: exclude already present in counting
      if(!speciesSearch) {
        speciesSearch = new SpeciesSearch({
          onSpeciesSelected: function(speciesId) {
            addOccurrence(speciesId, countingId, sampleId)
          },
          onSpeciesSearched: function(result) {
            showSearchResult(result)
          },
          updatePath: false,
          initialFilter: countingGroupId ? { group_id: countingGroupId } : {},
        });
      }
    });

    // Selecting section and sample
    document.querySelectorAll('.select-section.action').forEach((element) => {
      element.addEventListener('click', (event) => {
        let sectionId = event.target.getAttribute('data-section-id');
        event.preventDefault();
        let searchParams = new URLSearchParams();
        searchParams.set('section', sectionId);
        let newRelativePathQuery = window.location.pathname;
        newRelativePathQuery = newRelativePathQuery + '?' + searchParams.toString();
        history.pushState(null, '', newRelativePathQuery);
        document.querySelectorAll('.sections-list .section').forEach((element) => {
          element.classList.remove('is-selected')
        });
        event.target.parentElement.classList.add('is-selected');

        new SectionRequest().get(sectionId).then(
          result => {
            let section = result.section

            let sectionSamplesElement = document.querySelector('.samples-list tbody')
            sectionSamplesElement.innerHTML = '';
            section.samples.forEach((sample, i) => {
              let template = DomHelpers.getTemplate('section-sample-template')
              DomHelpers.setText('.select-sample', sample.name, template)
              DomHelpers.setAttr('.select-sample', 'data-sample-id', sample.id, template)

              template.querySelector('.select-sample.action').addEventListener('click', (event) => {
                event.preventDefault();
                let searchParams = new URLSearchParams();
                searchParams.set('section', section.id);
                searchParams.set('sample', sample.id);
                let newRelativePathQuery = window.location.pathname;
                newRelativePathQuery = newRelativePathQuery + '?' + searchParams.toString();
                history.pushState(null, '', newRelativePathQuery);
                document.querySelectorAll('.samples-list .sample').forEach((element) => {
                  element.classList.remove('is-selected')
                });
                event.target.parentElement.classList.add('is-selected');

                occurrencesComponent.show();
                occurrencesComponent.loadOccurrences(countingId, section.id, sample.id)
              })

              sectionSamplesElement.append(template)
            })
          },
          errors => {
            console.log(errors)
          }
        )
      });
    });


    const species = {
      name: null,
      group_id: null,
      //description: null,
      //environmental_preferences: null,
      //verified: false,
    }

    $('.add-species.action').click(() => {
      new SpeciesModalFormView(species, (result) => {
        addOccurrence(result.species.id, countingId, sampleId)
      }).show()
    });
  })
</script>
