<div class="columns">
  <div class="column">
    <table class="table is-striped is-bordered is-narrow sections-list">
      <thead>
        <tr>
          <th>Section</th>
        </tr>
      </thead>
      <tbody>
        <% @project.sections.each do |section| %>
          <tr>
            <% if section.id == @section&.id %>
              <td class="section is-selected">
                <%= section.name %>
              </td>
            <% else %>
              <td class="section">
                <a class="select-section action" data-section-id="<%= section.id %>" href="<%= counting_path(@project, @counting, section: section, sample: nil) %>"><%= section.name %></a>
              </td>
            <% end %>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
  <div class="column">
    <template id="section-sample-template">
      <tr>
        <td class="sample">
          <a class="select-sample action" data-sample-id=""></a>
        </td>
      </tr>
    </template>
    <table class="table is-striped is-bordered is-narrow samples-list">
      <thead>
        <tr>
          <th>Sample</th>
        </tr>
      </thead>
      <tbody>
        <% if @section %>
          <% @section.samples.each do |sample| %>
            <tr>
              <% if sample.id == @sample&.id %>
                <td class="sample is-selected">
                  <%= sample.name %>
                </td>
              <% else %>
                <td class="sample">
                  <a href="<%= counting_path(@project, @counting, section: @section, sample: sample) %>"><%= sample.name %></a>
                </td>
              <% end %>
            </tr>
          <% end %>
        <% end %>
      </tbody>
    </table>
  </div>
</div>
