<input type="hidden" id="counting-id" value="<%= @counting.id %>" />
<input type="hidden" id="selected-section-id" value="<%= @section_id %>" />
<input type="hidden" id="selected-sample-id" value="<%= @sample_id %>" />
<input type="hidden" id="counting-group-id" value="<%= @counting.group_id %>" />

<div class="columns">
  <div class="column is-one-fifth">
    <%= erb :'countings/_panel.html', layout: false %>
  </div>
  <div class="column">
    <div class="panel">
      <div class="panel-heading">
        <span class="tag">counting</span>
        <h2 class="title counting-name"></h2>
      </div>
      <nav class="navbar">
        <div class="navbar-menu">
          <div class="navbar-end">
            <div class="navbar-item">
              <button class="button is-black is-small edit-counting action">Edit Counting</button>
            </div>
          </div>
        </div>
      </nav>
      <div class="panel-block">
        <table class="table is-striped is-bordered">
          <thead>
            <tr>
              <th>Counting's Group</th>
              <th>Marker</th>
              <th>Marker Count</th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td class="group-name"></td>
              <td><span class="marker-name"></span> <span class="marker-group-name"></span></td>
              <td class="marker-count"></td>
          </tbody>
        </table>
      </div>
    </div>
    <div class="columns">
      <div class="column is-four-fifths" %>
        <%= erb :'countings/_occurrences.html', layout: false %>
      </div>

      <div class="column">
        <%= erb :'countings/_sections_and_samples.html', layout: false %>
      </div>
    </div>
  </div>
</div>

<script src="/dist/counting_app.js"></script>
